
build/
bin/
.gradle/
.DS_Store
simgui-ds.json
simgui-window.json
simgui.json
.classpath
.project
.vscode/settings.json
.settings/org.eclipse.buildship.core.prefs
.settings/org.eclipse.jdt.core.prefs
